/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Header */
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .logo img {
    height: 40px; /* Adjust logo height */
    width: auto;
    margin-right: 20px;  /* Maintain aspect ratio */
  }
  
  .nav {
   display: inline-block;
    justify-content: space-between;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;


  }

  
  .contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 8px 16px;
    color: #AC00FF;
    border-radius: 8px;
    border: 1px solid #AC00FF;
    background: #E9D7FE;
    font-family: Inter;
    font-size: 14px;

  }
  
  /* Hero Section */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;
  }
  


  .container-text {
    max-width: 50%;

  }
  

  .container-text h1 {
    color: #323232;
    font-family: Impact;
    font-size: 64px;
    font-style: normal;


  }
  
  .container-text p {
    color: #323232;
    font-family: "Inria Sans";
    font-size: 24px;
    font-style: normal;

  }
  
  .buttons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .Join {
    background-color: #7a3dff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  

  .click {
    display: flex;
    align-items: center;
    color: #7a3dff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
  }

  
  /* Hero Image Section */
  .image {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  